<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <!-- Css sendiri -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'company.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" >  
    <script src="{% static 'bootstrap.min.js' %}"></script>  
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">

  </head>
  <body>
    <!-- Banner awal -->
    <div class="container-fluid banner">
        <div class="row">
            <h1 class="display-4">Our Side of Story</h1>
        </div>
    </div>

    <!-- Penjelasan company -->
    <div class="container-fluid ">
        <div class="row company" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-lg-6 ">
                <i class="fas fa-heart"></i>    
                <img id="div1" src="{% static 'output-onlinepngtools.png' %}" class="img-fluid" width="350px" height="350px">
            </div>
            <div class="col-lg-5 ">
                <div class="tulisan">
                    <h3>What is <br> <span>HomeMed</span></h3>
                    <div class="garis"></div>
                    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat reprehenderit, unde ullam numquam officia saepe ipsum iusto ipsa, facere voluptas ab laudantium soluta enim nihil earum natus dolorem rerum. Pariatur.</p>
                </div>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#07e6be" fill-opacity="1" d="M0,128L26.7,154.7C53.3,181,107,235,160,218.7C213.3,203,267,117,320,101.3C373.3,85,427,139,480,133.3C533.3,128,587,64,640,64C693.3,64,747,128,800,138.7C853.3,149,907,107,960,90.7C1013.3,75,1067,85,1120,101.3C1173.3,117,1227,139,1280,160C1333.3,181,1387,203,1413,213.3L1440,224L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path></svg>
    </div>
    <section class="kelompok">
        <div class="container-fluid isi">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h1 class="text-center team">Meet Our Team</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 justify-content-center d-flex">
                    <div class="gambarr">
                        <img src="{% static 'SR09.jpeg' %}" class="figure-img img-fluid image">
                        <div class="middle">
                            <div class="text">User-generated Reviews
                            </div>
                        </div>
                        <h5>Aurora Putri Kumala Bakti</h5>
                    </div>
                    <div class="gambarr">
                        <img src="{% static 'SR11.jpg' %}" class="figure-img img-fluid image" style="width: 150px; ">
                        <div class="middle">
                            <div class="text">Product Information Management
                            </div>
                        </div>
                        <h5>Brasel Isnaen Fachturrahman</h5>
                    </div>
                    <div class="gambarr">
                        <img src="{% static 'SR30.jpg' %}" class="figure-img img-fluid image" style="margin-top: 0px ;">
                        <div class="middle">
                            <div class="text">Customer Support dan Interface
                            </div>
                        </div>
                        <h5>Muhammad Arya Adirianto</h5>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6 justify-content-center d-flex">
                        <div class="gambarr">
                            <img src="{% static 'SR40.jpg' %}" class="figure-img img-fluid image">
                            <div class="middle">
                                <div class="text">Account Page
                                </div>
                            </div>
                            <h5>Nathasya Shalsabilla Putri</h5>
                        </div>
                    <div class="gambarr">
                        <img src="{% static 'GB21.jpg' %}" class="figure-img img-fluid image" style="width: 150px;">
                        <div class="middle">
                            <div class="text">Company Profile
                            </div>
                        </div>
                        <h5>Galan Gahara Triguna Toding</h5>
                    </div>
                    <div class="gambarr">
                        <img src="{% static 'S__25862292.jpg' %}" class="figure-img img-fluid image">
                        <div class="middle">
                            <div class="text">Landing Page
                            </div>
                        </div>
                        <h5>Dimitri Theofilus Wynardo N
                        </h5>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-6 justify-content-center d-flex">
                        <div class="gambarr">
                            <img src="{% static 'FILE-min.jpg' %}" class="figure-img img-fluid image" style="margin-left: 100px ; width: 145px;">
                            <div class="middle1">
                                <div class="text">Shopping Cart
                                </div>
                            </div>
                            <h5>Christopher Moses Nathanael
                            </h5>
                        </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#07E6BE " fill-opacity="1" d="M0,256L34.3,240C68.6,224,137,192,206,197.3C274.3,203,343,245,411,229.3C480,213,549,139,617,112C685.7,85,754,107,823,138.7C891.4,171,960,213,1029,208C1097.1,203,1166,149,1234,122.7C1302.9,96,1371,96,1406,96L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>
        </div>
    </section>

    <section class="quotes">
        <div class="container-fluid isi2">
            <div class="row justify-content-center">
                <div class="col-lg-8" id="demo">
                    <h5>" Health is a state of complete mental, social and physical well-being, <br> not merely the absence of disease or infirmity. "</h5>
                    <button type="button" onclick="loadDoc()" class="btn btn-outline-success">Change quotes</button>
                </div>
            </div>
        </div>
        <script>
            function loadDoc() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                document.getElementById("demo").innerHTML =
                this.responseText;
            }
            xhttp.open("GET", "{% static 'ajax_info.txt' %}");
            xhttp.send();
            }
        </script>
    </section>

    <section class="counter">
        <div class="container-fluid">
            <div class="row justify-content-center"></div>
            <div class="single-funfact wow fadeIn text-center" data-wow-duration="1s" style="visibility: visible;">
                <span class="number-percentage-count number-percentage" data-value="4295" data-animation-duration="10000" style="color: black;">4,295</span>
                <span>+</span>
                <p>Works Done</p>
            </div>
        </div>
    </section>

    <section class="isiform">
        <div class="container-fluid ">
            <div class="row contactus" data-aos="fade-up" data-aos-duration="2000">
                <div class="col-lg-6 ">
                    <i class="fas fa-heart"></i>    
                    <img id="div1" src="{% static 'output-onlinepngtools (1).png' %}" class="img-fluid" width="350px" height="350px">
                </div>
                <div class="col-lg-5 ">
                    <div class="tulisan1">
                        <h3>Ingin bekerja sama? <br> <span>Contact Us</span></h3>
                        <div class="garis"></div>
                        <div class="mb-3" style="margin-top: 40px;">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ form.as_p}}
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>
  </body>
</html>