.banner{
    height: 699px;
    width: 100%;
    background: url('health-topics-2.jpeg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.banner h1{
    padding: 100px 0;
}

body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Raleway',sans-serif;
    color: #fff;
}

.banner .display-4{
    color: white;
    text-align: center;
    margin-top: 200px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.banner::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgb(7,230,190), rgb(0 , 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0%;
}

.banner .row{
    z-index: 1;
    position: relative;
}

.company{
    margin-top: 120px;
}

p{
    color: black;
}
.company h3{
    color: black;
    font-weight: 100;
    margin-top: 30px;
}
.company h3 span{
    font-weight: 500;
    font-size: larger;
}

.company img{
    position: relative;
    animation: animasi 5s ease-in-out 2s infinite alternate;

}

.col-lg-6 img{
    position: relative;
    left: 200px;
}
.col-lg-5 .tulisan{
    position: relative;
    right: 50px;
}
@media screen and (max-width:991px){
    .col-lg-5 .tulisan{
        left: 10px;
    }
    .col-lg-6 img{
        left: 60px;
    }
}

@keyframes animasi{
    0% {top: 0px;}
    25% {top: 25px;}
    50% {top: -25px;}
    100% {top: 0px;}
}

.garis{
    border-top: 3px solid rgb(7,230,190);
    width: 50px;
    margin-bottom: 14px;
    margin-top: 14px;
}

svg{
    margin-right: -12px;
    margin-left: -12px;
}

.isi{
    width: 100%;
    height: 650px;
    background-color:  rgb(7,230,190);
    margin-bottom: 250px;
}

.isi h1{
    margin-top: -40px;
    font-size: 350%;
}

.isi svg{
    margin-top: -60px;
}

.kelompok img{
    width: 150px;
}

.kelompok h1{
    margin-top: -50px;
    margin-bottom: 30px;
}

.kelompok h5{
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}

.kelompok span{
    font-size: 12px;
    color: #acacac;
}

.kelompok figcaption{
    text-align: center;
}

.kelompok .gambarr{
    margin: 20px 45px 5px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.gambarr:hover .image {
    opacity: 0.3;
}

.gambarr:hover .middle {
    opacity: 1;
}

.gambarr:hover .middle1 {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    padding: 16px 32px;
}

.gambarr{
    position: relative;
    width: 50%;

}

.isi2{
    height: 450px;
    background-color:  white;
    margin-bottom: -400px;
}

.tulisan1 span{
    color:  rgb(7,230,190);
}

.tulisan1 h3{
    color: black;
    font-weight: 100;
}

.isiform{
    height: 450px;
    background-color:  white;
}

.isiform form{
    margin-top: -20px;
}

.quotes h5{
    font-weight: 200;
    font-size: x-large;
}
.quotes{
    color: black;
    padding: 200px 0;
    font-style: italic;
    text-align: center;
    font-weight: 200;
    font-size: x-large;
}
